# Comparision Between Countries

### Load and Inspect data

In [2]:
# Load clean data for each country
import sys
import os


sys.path.append(os.path.abspath("../src"))
from data_loader import load_csv

benin_df = load_csv("../data/benin-malanville_clean.csv")
sierraleone_df = load_csv("../data/sierraleone-bumbuna_clean.csv")
togo_df = load_csv("../data/togo-dapaong_qc_clean.csv")

benin_df.shape, sierraleone_df.shape, togo_df.shape

2025-05-19 00:48:41,012 - INFO - Successfully loaded data from ../data/benin-malanville_clean.csv with shape (246871, 18)
2025-05-19 00:48:41,451 - INFO - Successfully loaded data from ../data/sierraleone-bumbuna_clean.csv with shape (238866, 18)
2025-05-19 00:48:41,991 - INFO - Successfully loaded data from ../data/togo-dapaong_qc_clean.csv with shape (267553, 18)

((246871, 18), (238866, 18), (267553, 18))

In [3]:
# Change Timestamp to datetime
import pandas as pd

for df in [benin_df, sierraleone_df, togo_df]:
    df['Timestamp'] = pd.to_datetime(df['Timestamp'])

### Metric Comparision

In [4]:
# Use ComparisionUtils to combine the data
from country_comparision_utils import ComparisionUtils

comparator = ComparisionUtils()
combined_df = comparator.combine_country_data({"Benin": benin_df, "Sierra Leone": sierraleone_df, "Togo": togo_df})
combined_df.head()

2025-05-19 00:48:43,146 - INFO - Comparsion Utility Class Initialized.
2025-05-19 00:48:43,186 - INFO - All data is valid.
2025-05-19 00:48:43,236 - INFO - Data combined successfully.

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,country
0,2021-08-09 06:54:00,16.7,0.0,16.5,16.1,16.3,24.2,98.8,0.0,0.0,0.0,0.0,0.0,997,0,0.0,24.2,23.7,Benin
1,2021-08-09 06:55:00,18.2,0.1,18.0,17.4,17.6,24.2,98.8,0.0,0.0,0.0,0.0,0.0,997,0,0.0,24.3,23.8,Benin
2,2021-08-09 06:56:00,19.7,0.3,19.5,18.7,18.9,24.2,98.8,0.0,0.0,0.0,0.0,0.0,997,0,0.0,24.3,23.9,Benin
3,2021-08-09 06:57:00,21.1,0.6,20.9,19.9,20.1,24.2,98.9,0.0,0.0,0.0,0.0,0.0,997,0,0.0,24.4,23.9,Benin
4,2021-08-09 06:58:00,22.5,1.1,22.2,21.1,21.3,24.2,98.9,0.0,0.0,0.0,0.0,0.0,997,0,0.0,24.5,24.0,Benin

In [5]:
combined_df.shape

(753290, 19)

#### Note

- Inspection reveals that data is combined successfully